.projectsMain {
    border-bottom: 1px solid lightgray;
    border-bottom-style: solid;
    margin: 0 0 10px;
    padding: 0 0 10px;
    
}
/* .projectsContainer {
    max-width: 100%;
} */
.projectsContainer > div {
    width: 300px;
    margin-left: 100px;
    /* display:flex;
    flex-direction: column; */
}
.projectsContainer {
    display: flex;
    max-width: 100%;
    flex-direction: inherit;
    margin-top: 50px;
    
}